# flake8 does not support pyproject.toml (https://github.com/PyCQA/flake8/issues/234)

[flake8]
select = F, W, E, C
# We should set max line length to 88 eventually
max-line-length = 110
exclude =
    docs,
    build,
    dist,
    .tox,
    .eggs
ignore =
    E231, # Missing whitespace after ',', ';', or ':'
    E241, # Multiple spaces after ','
    W503, # Line break occurred before a binary operator
    W504, # Line break occurred after a binary operator