[project]
name = 'stcal'
description = 'STScI tools and algorithms used in calibration pipelines'
readme = 'README.md'
requires-python = '>=3.9'
license = { file = 'LICENSE' }
authors = [{ name = 'STScI', email = 'help@stsci.edu' }]
classifiers = [
    'Intended Audience :: Science/Research',
    'Topic :: Scientific/Engineering :: Astronomy',
    'License :: OSI Approved :: BSD License',
    'Programming Language :: Python :: 3',
]
dependencies = [
    'astropy >=5.0.4',
    'scipy >=1.6.0',
    'numpy >=1.20',
    'opencv-python-headless >=4.6.0.66',
]
dynamic = ['version']

[project.optional-dependencies]
docs = [
    'numpydoc',
    'packaging >=17',
    'sphinx',
    'sphinx-astropy',
    'sphinx-rtd-theme',
    'stsci-rtd-theme',
    'tomli; python_version <"3.11"',
]
test = [
    'psutil',
    'pytest >=4.6.0',
    'pytest-cov',
    'pytest-doctestplus',
]

[project.urls]
'repository' = 'https://github.com/spacetelescope/stcal'
'tracker' = 'https://github.com/spacetelescope/stcal/issues'

[build-system]
requires = [
    'setuptools >=61',
    'setuptools_scm[toml] >=3.4',
    'wheel',
    'Cython >=0.29.21',
    'numpy >=1.18',
]
build-backend = 'setuptools.build_meta'

[tool.setuptools_scm]
write_to = 'src/stcal/_version.py'

[tool.setuptools]
zip-safe = true

[tool.setuptools.packages.find]
where = ['src']

[tool.pytest.ini_options]
minversion = 4.6
doctest_plus = true
doctest_rst = true
text_file_format = 'rst'
addopts = ''
norecursedirs = [
    'benchmarks',
    '.asv',
    '.eggs',
    '.tox',
    'build',
    'venv',
]
filterwarnings = [
    "error::ResourceWarning",
]

[tool.ruff]
line-length = 110
select = ['F', 'W', 'E', 'C']
ignore = [
    'C901', # variable is too complex
]
exclude = [
    'docs',
    'build',
    'dist',
    '.tox',
    '.eggs',
]
