astropy==5.0.4
drizzle==1.15.0
scipy==1.7.2
scikit-image==0.19.0
numpy==1.21.2
opencv-python-headless==4.6.0.66
asdf==2.15.0
gwcs @git+https://github.com/spacetelescope/gwcs.git@master
tweakwcs==0.8.8
requests==2.22.0
